*.o
*.a
*.lo
*.la
*.so
*.sgml
*.conf
*~
*.gz

.deps
.libs

Makefile.in
Makefile

aclocal.m4
autom4te.cache
configure
config.log
config.status
libtool

lxc.spec
lxc.pc

templates/lxc-alpine
templates/lxc-altlinux
templates/lxc-archlinux
templates/lxc-busybox
templates/lxc-debian
templates/lxc-fedora
templates/lxc-lenny
templates/lxc-opensuse
templates/lxc-oracle
templates/lxc-sshd
templates/lxc-ubuntu
templates/lxc-ubuntu-cloud


src/lxc/lxc-attach
src/lxc/lxc-cgroup
src/lxc/lxc-checkconfig
src/lxc/lxc-checkpoint
src/lxc/lxc-clone
src/lxc/lxc-console
src/lxc/lxc-create
src/lxc/lxc-destroy
src/lxc/lxc-execute
src/lxc/lxc-freeze
src/lxc/lxc-info
src/lxc/lxc-init
src/lxc/lxc-kill
src/lxc/lxc-monitor
src/lxc/lxc-netstat
src/lxc/lxc-ps
src/lxc/lxc-restart
src/lxc/lxc-shutdown
src/lxc/lxc-start
src/lxc/lxc-start-ephemeral
src/lxc/lxc-stop
src/lxc/lxc-unfreeze
src/lxc/lxc-unshare
src/lxc/lxc-version
src/lxc/lxc-wait
src/lxc/legacy/lxc-ls

src/python-lxc/build/
src/python-lxc/examples/api_test.py
src/python-lxc/lxc/__init__.py
src/python-lxc/lxc/__pycache__/

src/tests/lxc-test-containertests
src/tests/lxc-test-createtest
src/tests/lxc-test-destroytest
src/tests/lxc-test-get_item
src/tests/lxc-test-getkeys
src/tests/lxc-test-locktests
src/tests/lxc-test-saveconfig
src/tests/lxc-test-shutdowntest
src/tests/lxc-test-startone


config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/libtool.m4
config/lt*.m4

doc/*.1
doc/*.5
doc/*.7
doc/manpage.links
doc/manpage.refs

m4/

src/config.h
src/config.h.in
src/stamp-h1

.pc
patches
