*.o
*.a
*.lo
*.la
*.so
*.sgml
*.conf
*~

.deps
.libs

Makefile.in
Makefile

aclocal.m4
autom4te.cache
configure
config.log
config.status
libtool

lxc.spec

scripts/lxc-debian
scripts/lxc-fedora
scripts/lxc-sshd

src/lxc/lxc-cgroup
src/lxc/lxc-checkconfig
src/lxc/lxc-checkpoint
src/lxc/lxc-cinit
src/lxc/lxc-cmd
src/lxc/lxc-console
src/lxc/lxc-create
src/lxc/lxc-destroy
src/lxc/lxc-enter
src/lxc/lxc-exec
src/lxc/lxc-execute
src/lxc/lxc-freeze
src/lxc/lxc-info
src/lxc/lxc-init
src/lxc/lxc-ls
src/lxc/lxc-monitor
src/lxc/lxc-netstat
src/lxc/lxc-ps
src/lxc/lxc-restart
src/lxc/lxc-start
src/lxc/lxc-stop
src/lxc/lxc-unfreeze
src/lxc/lxc-unshare
src/lxc/lxc-version
src/lxc/lxc-wait

etc/lxc-complex-config

config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing

doc/lxc-cgroup.1
doc/lxc-console.1
doc/lxc-create.1
doc/lxc-destroy.1
doc/lxc-execute.1
doc/lxc-freeze.1
doc/lxc-ls.1
doc/lxc-monitor.1
doc/lxc-ps.1
doc/lxc-start.1
doc/lxc-stop.1
doc/lxc-unfreeze.1
doc/lxc-wait.1
doc/lxc.7
doc/lxc.conf.5
doc/manpage.links
doc/manpage.refs

src/config.h
src/config.h.in
src/stamp-h1

.pc/
patches/

