*.o
*.a
*.lo
*.la
*.so
*.so.*
*.sgml
*.conf
*~
*.gz
*.swp

.deps
.libs
.dirstamp

Makefile.in
Makefile

aclocal.m4
autom4te.cache
configure
config.log
config.status
libtool

lxc.spec
lxc.pc

templates/*
!templates/*.in
templates/Makefile.in

src/lxc/init.lxc
src/lxc/init.lxc.static
src/lxc/lxc-attach
src/lxc/lxc-autostart
src/lxc/lxc-cgroup
src/lxc/lxc-checkconfig
src/lxc/lxc-checkpoint
src/lxc/lxc-clone
src/lxc/lxc-console
src/lxc/lxc-config
src/lxc/lxc-copy
src/lxc/lxc-create
src/lxc/lxc-destroy
src/lxc/lxc-device
src/lxc/lxc-execute
src/lxc/lxc-freeze
src/lxc/lxc.functions
src/lxc/lxc-info
src/lxc/lxc-init
src/lxc/lxc-ls
src/lxc/lxc-monitor
src/lxc/lxc-monitord
src/lxc/lxc-shutdown
src/lxc/lxc-snapshot
src/lxc/lxc-start
src/lxc/lxc-start-ephemeral
src/lxc/lxc-stop
src/lxc/lxc-top
src/lxc/lxc-unfreeze
src/lxc/lxc-unshare
src/lxc/lxc-usernsexec
src/lxc/lxc-wait
src/lxc/lxc-user-nic
src/lxc/version.h

src/python-lxc/build/
src/python-lxc/lxc/__pycache__/

src/tests/lxc-test-device-add-remove
src/tests/lxc-test-attach
src/tests/lxc-test-apparmor
src/tests/lxc-test-cgpath
src/tests/lxc-test-clonetest
src/tests/lxc-test-concurrent
src/tests/lxc-test-console
src/tests/lxc-test-containertests
src/tests/lxc-test-createtest
src/tests/lxc-test-destroytest
src/tests/lxc-test-get_item
src/tests/lxc-test-getkeys
src/tests/lxc-test-list
src/tests/lxc-test-locktests
src/tests/lxc-test-lxcpath
src/tests/lxc-test-may-control
src/tests/lxc-test-reboot
src/tests/lxc-test-saveconfig
src/tests/lxc-test-shutdowntest
src/tests/lxc-test-snapshot
src/tests/lxc-test-startone
src/tests/lxc-test-usernic
src/tests/lxc-usernic-test

config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/libtool.m4
config/lt*.m4
config/bash/lxc
config/init/common/lxc-containers
config/init/common/lxc-net
config/init/systemd/lxc-autostart-helper
config/init/systemd/lxc-net.service
config/init/systemd/lxc.service
config/init/systemd/lxc@.service
config/init/sysvinit/lxc
config/init/sysvinit/lxc-containers
config/init/sysvinit/lxc-net
config/sysconfig/lxc

doc/*.1
doc/*.5
doc/*.7
doc/ja/*.1
doc/ja/*.5
doc/ja/*.7
doc/ko/*.1
doc/ko/*.5
doc/ko/*.7
doc/manpage.links
doc/manpage.refs
doc/api/html/*

hooks/unmount-namespace

m4/

src/config.h
src/config.h.in
src/stamp-h1

.pc
patches
*.orig
*.rej
tags
TAGS

doc/api/doxygen_sqlite3.db
doc/api/*.tmp
