name: Sanitizers build
on:
  - push
  - pull_request
jobs:
  sanitizers:
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - gcc
          - clang
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Compiler version
        env:
          CC: ${{ matrix.compiler }}
        run: |
          ${CC} --version

      - name: Kernel version
        run: |
          uname -a

      - name: Mount table
        run: |
          findmnt

      - name: Build
        run: |
          sudo CC=${{ matrix.compiler }} CXX=${{ matrix.compiler }}++ .github/workflows/sanitizers.sh
